<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sysong</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sysong.styles.css" asp-append-version="true" />

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper z-depth-1" style="background:linear-gradient(to left, #00b4db, #0083b0);">
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("admin"))
                    {
                        <div class="container">
                            <a href="/" class="brand-logo">
                                SysONG<i class="material-icons ">filter_drama</i>
                            </a>
                            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                            <ul class="right hide-on-med-and-down">
                                <li><a href="{{route ('admin.home') }}">Início</a></li>
                                <li><a class="dropdown-trigger" href="#" data-target="dropdown1">Visualizar<i class="material-icons right">arrow_drop_down</i></a></li>
                                <li><a class="dropdown-trigger" href="#" data-target="dropdownacoes">Ações<i class="material-icons right">arrow_drop_down</i></a></li>
                                <li><a class="dropdown-trigger" href="#" data-target="dropdownOng">ONG<i class="material-icons right">arrow_drop_down</i></a></li>
                                <li>
                                    <a class="dropdown-trigger" href="{{ route('logout') }}" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                                        Logout<i class="material-icons right">power_settings_new</i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <ul class="sidenav" id="mobile-demo">
                            <li><a href="{{route ('admin.home') }}">Menu</a></li>
                            <li><a href="{{route('produtos.listar')}}">Visualizar Estoque</a></li>
                            <li><a href="{{route('admin.listarCadastros')}}">Visualizar Cadastros</a></li>
                            <li><a href="{{ route('admin.cadastros')}}">Cadastrar</a></li>
                            <li><a href="{{ route('entradaProduto')}}">Entrada</a></li>
                            <li><a href="{{ route('saida')}}">Saídas</a></li>
                            <li><a href="{{route('relatorio')}}">Relatório</a></li>
                            <li>
                                <a class="dropdown-trigger" href="{{ route('logout') }}" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                                    Logout<i class="material-icons right">power_settings_new</i>
                                </a>
                            </li>
                        </ul>
                    }
                    else if (User.IsInRole("supervisor"))
                    {
                        <div class="container">
                            <ul class="right hide-on-med-and-down">
                                <li><a href="{{ route('home') }}">Início</a></li>
                                <li><a href="{{route('produtos.listar')}}">Estoque</a></li>
                                <li><a href="{{ route('saida')}}">Saídas</a></li>
                                <li>
                                    <a class="dropdown-trigger" href="{{ route('logout') }}" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                                        Logout<i class="material-icons right">power_settings_new</i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <ul class="sidenav" id="mobile-demo">
                            <li><a href="{{ route('home') }}">Início</a></li>
                            <li><a href="{{route('produtos.listar')}}">Estoque</a></li>
                            <li><a href="{{ route('saida')}}">Saídas</a></li>
                            <li>
                                <a class="dropdown-trigger" href="{{ route('logout') }}" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                                    Logout<i class="material-icons right">power_settings_new</i>
                                </a>
                            </li>
                        </ul>

                    }
                }
                else
                {
                    <div class="container">
                        <a href="/" class="brand-logo">
                            SysONG<i class="material-icons ">filter_drama</i>
                        </a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </div>


                    <ul class="sidenav" id="mobile-demo">
                        <li><a href="/">Home</a></li>
                        <li><a href="{{route('login')}}">Login</a></li>
                    </ul>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
