@section head{
    <style type="text/css">
        body {
            background: linear-gradient(to left, #00b4db, #0083b0);
            width: 100%;
        }
    </style>
}

@model LoginViewModel

    <div class="row valing-wrapper ">
        <div class="col s12 l6 offset-l3 card z-depth-4">
            <div class="card-content valign ">
                <div>
                    <h4 class="center-align"><b>Bem vindo de volta!</b></h4>
                    <h6 class="center-align">Entre para continuar</h6>
                </div>
                <form class="col s12" asp-controller="Account" asp-action="Login" method="post">
                    <div asp-validation-summary="All" class="red-text"></div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input asp-for="UserName">
                            <label for="UserName">Usuário</label>
                            <span class="red-text" asp-validation-for="UserName"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input asp-for="Password">
                            <label for="Password">Password</label>
                            <span class="red-text" asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="row valign center">
                        <button class="btn waves-effect waves-light blue darken-2 ">
                            <b>Entrar</b>
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>